<div id="container">

  <div id="topo">
    <h1>::thalesferreira</h1>
  </div>

  <div id="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Cadastro</a></li>
      <li><a href="#">Newsletter</a></li>
      <li><a href="#">Quem Somos</a></li>
      <li><a href="#">Serviços</a></li>
    </ul>
  </div>

  <div id="conteudo">
    <p>The less time you spend navigating through menus and options, the more you can focus on getting things done. Now
    your
    local repositories are always available in the left sidebar, and you can create, clone, and publish repositories
    without having to navigate to a new screen.
    The less time you spend navigating through menus and options, the more you can focus on getting things done. Now
    your
    local repositories are always available in the left sidebar, and you can create, clone, and publish repositories
    without having to navigate to a new screen.
    The less time you spend navigating through menus and options, the more you can focus on getting things done. Now
    your
    local repositories are always available in the left sidebar, and you can create, clone, and publish repositories
    without having to navigate to a new screen.
    The less time you spend navigating through menus and options, the more you can focus on getting things done. Now
    your
    local repositories are always available in the left sidebar, and you can create, clone, and publish repositories
    without having to navigate to a new screen.</p>
    <div id="error_explanation">
      <h2>Houve um erro</h2>
      <ul>
        <li>Error 1: Opa</li>
      </ul>
    </div>

    <ul>
      <li>Cursor Tableless</li>
      <li>Autor: Adriano Gianini</li>
      <li>www.adrianogianini.com.be</li>
    </ul>
  </div>

  <div id="footer">
    <h1>Todos os direitos reservados</h1>
  </div>

</div>