<div id="menu_align">
  <ul id="menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">Parceiros</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Serviços</a></li>
    <li><a href="#">Contato</a></li>
  </ul>

  <div id="banner"></div>

  <div id="banner_espaco"></div>

  <div id="corpo1">
    <div id="noticias"></div>
  </div>

  <div id="servicos">
    <div id="suporte"></div>
  </div>

</div>
